<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img class="logo" width="36" height="36" alt="Logo" src="assets/android-chrome-512x512.png" (click)="reset()"/>
  <span class="header-title" (click)="reset()">Sorting Algorithm Visualizer</span>
  <div class="spacer"></div>
  <div class="volume-container" (mouseenter)="openVolume()" (mouseleave)="closeVolume()">
    <button mat-icon-button class="toolbar-button" (click)="toggleMute()" [attr.aria-label]="sortService.isMuted ? 'Unmute' : 'Mute'">
      <mat-icon>{{ sortService.isMuted ? 'volume_off' : 'volume_up' }}</mat-icon>
    </button>
    <div class="volume-slider-container" [@modalState]="isShown"
    (@modalState.start)="$event.element.style.display = 'block'"
    (@modalState.done)="$event.element.style.display = ($event.toState ? 'block' : 'none')">
      <mat-slider class="volume-slider" [(ngModel)]="sortService.volume" min="0" max="100" step="1" aria-label="Volume"></mat-slider>
      <p class="slider-label">Sort Volume</p>
    </div>
  </div>
  <button mat-icon-button class="toolbar-button" (click)="openHelp()" matTooltip="Learn more about different sorting algorithms" matTooltipShowDelay="250" matTooltipPosition="below" aria-label="Learn more about sorting algorithms">
    <mat-icon>help_outline</mat-icon>
  </button>
  <a class="github-link" aria-label="Source Code" target="_blank" rel="noopener" href="https://github.com/jarvisar/sorting-algos/" title="Project Source Code">
    <img width="32" height="32" alt="GitHub Logo" src="assets/github.png"/>
  </a>
</div>

<div class="content" role="main">
  <app-sorting-visualizer></app-sorting-visualizer>
  <app-input-bar></app-input-bar>
</div>

<router-outlet></router-outlet>
