// center buttons class vertically
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bar-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 100%;
    background-color: #fff;
  }
  
  .bar {
    width: 20px;
    margin: 0 2px;
    background-color: #333;
    transition: height 0.2s ease-in-out;
    position: relative;
  }

  
  .bar-label {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 3px;
    position: absolute;
    bottom: -30px;
    // roboto
    font-family: 'Roboto', sans-serif;
  }

  .algo-select{
    width: 150px;
    height:40px;
    font-size:16px;
    text-align:left;
    padding-left: 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 450;
    margin-left: 15px;
    transform: all 0.5 ease;
  }

