<div class="buttons-container">
    <!-- Select box for algorithm type no material design -->
    <select class="algo-select" [(ngModel)]="sortService.selectedAlgo" (change)="onAlgoSelectChange()" style="margin: 5px">
        <option value="bubble">Bubble Sort</option>
        <option value="selection">Selection Sort</option>
        <option value="insertion">Insertion Sort</option>
        <option value="merge">Merge Sort</option>
        <option value="quick">Quick Sort</option>
        <option value="heap">Heap Sort</option>
        <option value="radix">Radix Sort (LSD)</option>
        <option value="bitonic">Bitonic Sort</option>
        <option value="cocktail">Cocktail Shaker</option>
        <option value="comb">Comb Sort</option>
        <option value="gnome">Gnome Sort</option>
        <option value="shell">Shell Sort</option>
        <option value="cycle">Cycle Sort</option>
        <option value="cycle">Pancake Sort</option>
        <option value="cycle">Bogo Sort (inefficient)</option>
        <option value="cycle">Stooge Sort (inefficient)</option>
    </select>
    <!-- Input for number of bars -->
    <input type="number" class="bar-count-input" [(ngModel)]="sortService.numBars" (change)="onBarCountChange()" placeholder="Number of Bars" style="margin: 5px" max="512">
    <button mat-raised-button (click)="sort()" [disabled]="sortService.inProgress" class="main-button sort-button">Sort</button>
    <button mat-raised-button (click)="reset()" [disabled]="sortService.inProgress" class="main-button reset-button">Reset</button>
    <button mat-raised-button (click)="stop()" [disabled]="!sortService.inProgress" class="main-button stop-button">Stop</button>
    <!-- Slider for sortingService.delay with label in ms -->
    <div class="slider-container" style="position: relative; margin-left: 5px;">
        <mat-slider [(ngModel)]="sortService.delay" (change)="onDelayChange()" min="0" max="150" step="0.5" thumbLabel></mat-slider>
        <p class="slider-label" style="color: #aaa; position: absolute; bottom: -20px; left: 20px;">Delay: {{sortService.delay}} ms</p></div>

</div>
