<div class="buttons-container">
    <!-- Select box for algorithm type no material design -->
    <select class="algo-select" [(ngModel)]="sortService.selectedAlgo" (change)="onAlgoSelectChange()" style="margin: 5px">
        <option value="bubble">Bubble Sort</option>
        <option value="selection">Selection Sort</option>
        <option value="insertion">Insertion Sort</option>
        <option value="merge">Merge Sort</option>
        <option value="quick">Quick Sort</option>
        <option value="heap">Heap Sort</option>
    </select>
    <!-- Input for number of bars -->
    <input type="number" class="bar-count-input" [(ngModel)]="sortService.numBars" (change)="onBarCountChange()" placeholder="Number of Bars" style="margin: 5px">
    <button mat-raised-button (click)="sort()" [disabled]="sortService.inProgress" class="main-button sort-button">Sort</button>
    <button mat-raised-button (click)="reset()" [disabled]="sortService.inProgress" class="main-button reset-button">Reset</button>
    <button mat-raised-button (click)="stop()" [disabled]="!sortService.inProgress" class="main-button stop-button">Stop</button>
</div>
